.app-wrapper {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  height: 100vh;
}

.app-wrapper-content {
  grid-area: c;
  background-image: linear-gradient(to bottom right, teal, gold);
  padding: 10px;
}

.app-wrapper-content img {
  display: block;
}
